*{
    margin: 0;padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.main-footer{
    display: flex;
    justify-content: space-between;

}
footer {
    padding: 100px;
    background-color: #152B5A;
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
}

.fc-title{
    color: #feb401;
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 15px;
}
.fc-contents{
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-flow: column;
    gap: 9px;
    color: #aecddd;
}