.gallery{
    align-items: center;
    display: flex;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #274191;  
    position: relative;
    z-index: 1;
}
.options{
    display: flex;
    flex-flow: column;
    gap: 16px;
}
.option{
    width: max-content;
    padding: 14px;
    border-radius: 7px;
    background-color: white;
}
.active{ 
    background-color: #feb401;
}
.option:hover{
    background-color: #feb401;
}
.card-container {
    margin-left: 23px;
    margin-right: 15px;
    width: 100%;
    display: flex;
    /* gap: 20px; */
    justify-content: space-between;
    padding: 20px;
    /* background-color: #FFFFFF; */
}

.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 300px;
    padding: 15px;
}


.card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.card h3 {
    margin-top: 20px;
    margin-bottom: 13px;
    font-size: 1.1em;
    color: #333;
}